.home-headings {
  display: flex;
  flex-direction: row;
  justify-content: start;
  //width: 80%;
  height: 30%;
  margin: 1.3% 0;
  //background-color: black;
  position: relative;

  .h-headings-span {
    span {
      font-size: 32px;
      line-height: 28px;
      font-weight: 700;
      font-style: normal;
      color: white;
    }
  }
}
