.full-filmography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 10px 0;

  .full-filmography-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    //background-color: #3e3758;

    &:hover {
      cursor: pointer;
    }

    .full-filmography-container-img {
      display: flex;
      align-items: start;
      //width: 33.3%;
      margin-right: 20px;
      //background-color: white;
      img {
        width: 120px;
        height: 175px;
        border-radius: 10px;
      }
    }

    .full-filmography-container-titles {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      text-align: center;
      width: 50%;
      //background-color: #000000;
      margin-right: 40px;

      span {
        padding: 5px;
        color: white;
      }

      .full-filmography-container-titles-white {
        font-size: 16px;
        font-weight: 500;
      }

      .full-filmography-container-titles-grey {
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        font-style: normal;
        color: #a5a1b2;
      }
    }

    .full-filmography-container-button {
      display: flex;
      align-items: center;
      text-align: center;
      width: 20%;
      height: 40px;

      button {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
        background-color: #4d4468;
        transition: 0.3s all ease-in-out;
        color: white;
        &:hover {
          cursor: pointer;
          background-color: #3e3758;
        }
      }
    }
  }
}
