.movies-search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30%;

  .movies-search-page-filters {
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-evenly;
    align-items: center;
    //padding: 15px;

    .movie-search-page-button {
      width: 80%;
      height: 30px;
      background: none;
      border-radius: 15px;
      border: 1px solid black;
      color: white;
      transition: 0.3s all ease-in-out;

      &:hover {
        scale: 1.1;
        cursor: pointer;
      }
    }
  }


  //.movies-search-page-container {
  //  input {
  //    color: white;
  //    background: none;
  //    width: 250px;
  //    height: 50px;
  //    border-radius: 10px;
  //    text-align: center;
  //    border: 1px solid black;
  //  }
  //}

  .movies-search-page-container-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 20px;

  }
}