.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("https://res.cloudinary.com/dedeobaxo/image/upload/v1678178099/Job_Market_proj/int_b2nd5s.jpg") no-repeat left bottom fixed!important;
  //background: url("https://res.cloudinary.com/dedeobaxo/image/upload/v1678131717/Job_Market_proj/rome_vrq3wd.jpg")!important;
  background-size: 1920px 1080px;
  object-fit: contain;
  overflow-y: hidden;
  position: relative;

  .login-modal {
    width: 30%;
    //height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    //border: 3px dotted black;
    border-radius: 20px;
    opacity: 0.6;
    gap: 30px;
    position: absolute;
    transition: all 0.5s ease;
    &:hover{
      opacity: 1;
    }

    img {
      width: 220px;
      height: 100px;
      transition: all 0.5s ease;
      &:hover{
        opacity: 0.2;
      }
    }

    .login-enter {
      font-size: 30px;
    }

    span {
      color: #000000;
      font-weight: bold;
      font-size: larger;
    }

    input {
      width: 80%;
      height: 60px;
      border: none;
      border-radius: 10px;
      font-size: larger;
      text-align: center;
      transition: all 1s ease;
      color: black;
      outline: none;
      background-color: lightblue;
      &:hover{
        cursor: pointer;
        opacity: 1;
        background: transparent;
      }
    }

    ::-webkit-input-placeholder {
      color: black!important;
      padding-left: 10%;
      font-weight: bold;
      text-align: left;
    }

    button {
      width: 130px;
      border: none;
      border-radius: 10px;
      font-size: 24px;
      color: #000000;
      font-weight: 700;
      background-color: transparent;
      transition: all 1s ease;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
        color: #284045;
      }
    }

    .login-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        height: 30px;
      }

      .Link {
        text-decoration: none;
      }

      .login-forgot {
        transition: all 1s ease;
        &:hover{
          cursor: pointer;
          background: transparent;
          //color: #38b2d1;
          color: #382e2e;
          font-weight: bold;
        }
      }
    }

    .login-ic {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .login-icons {
        width: 50px;
        height: 40px;
        transition: all 1s ease;
        &:hover{
          cursor: pointer;
          background-color: black;
          border-radius: 50px;
          opacity: 1;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .login-modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .login-forgot {
        transition: all 1s ease;
        &:hover{
          cursor: pointer;
          background: transparent;
          color: #38b2d1;
          font-weight: bold;
        }
      }

      input {
        width: 290px;
        height: 70px;
      }
    }
  }

  @media only screen and (max-width: 1200px) {

    .login-modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .login-block {
        width: 60%;
        margin-bottom: 50px;

        &:hover{
          cursor: pointer;
          background: transparent;
          color: #38b2d1;
          font-weight: bold;
        }
      }

      input {
        width: 290px;
        height: 70px;
      }

    }

  }

  @media only screen and (max-width: 400px) {

    .login-modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .login-enter {
        font-size: 30px;
      }

      .login-block {
        width: 60%;
        margin-bottom: 50px;

        &:hover{
          cursor: pointer;
          background: transparent;
          color: #38b2d1;
          font-weight: bold;
        }
      }

      input {
        width: 210px;
        height: 100px;
      }

    }

  }

}
