.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("https://res.cloudinary.com/dedeobaxo/image/upload/v1678131717/Job_Market_proj/rome_vrq3wd.jpg")!important;
  position: relative;

  .login-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40%;
    gap: 20px;
    span{
      font-size: larger;
      font-weight: bolder;
      color: white;
    }
  }

  .login-modal {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 3px dotted black;
    border-radius: 20px;
    opacity: 0.6;
    gap: 30px;
    position: absolute;
    transition: all 0.5s ease;
    &:hover{
      opacity: 1;
    }

    img {
      width: 115px;
      height: 115px;
    }

    span {
      color: #000000;
      font-weight: bold;
      font-size: larger;
    }

    input {
      width: 80%;
      height: 10%;
      border: none;
      border-radius: 10px;
      font-size: larger;
      text-align: left;
      transition: all 1s ease;
      color: black;
      outline: none;
      &:hover{
        cursor: pointer;
        opacity: 1;
        background: transparent;
      }
    }

    ::-webkit-input-placeholder {
      color: black!important;
      font-weight: bold;
      text-align: center;
    }

    .test {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        height: 30px;
      }

      .login-forgot {
        transition: all 1s ease;
        &:hover{
          cursor: pointer;
          background: transparent;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }

    .login-ic {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .login-icons {
        width: 50px;
        height: 40px;
        transition: all 1s ease;
        &:hover{
          cursor: pointer;
          background-color: black;
          border-radius: 50px;
          opacity: 1;
        }
      }
    }
  }
}