.home-films-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .home-films-slider-container {
    width: 85%;
    position: relative;
    overflow: hidden!important;
  }
  .main-slider-arrow-div-left{
    text-align: center;
    width: 100px;
    height: 75px;

    img {
      width: 50%;
      transition: 0.4s all ease-in-out;
      &:hover{
        scale: 1.2;
        cursor: pointer;
      }
    }
  }
  .main-slider-arrow-div-right{
    width: 100px;
    height: 75px;
    text-align: center;

    img {
      width: 50%;
      transition: 0.4s all ease-in-out;
      &:hover{
        scale: 1.2;
        cursor: pointer;
      }
    }
  }
}