.home-films-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 100;

  .home-films-slider-arrow-div-left {
    background-color: #1dbf73;
    transition: 0.3s all ease-in-out;
    margin-right: 10px;
    &:hover {
      scale: 1.3;
      cursor: pointer;
    }
  }

  .home-films-slider-arrow-div-right {
    background-color: #1dbf73;
    transition: 0.3s all ease-in-out;
    &:hover {
      scale: 1.3;
      cursor: pointer;
    }
  }

  .home-films-slider-container {
    width: 85%;
    position: relative;
    overflow: hidden!important;
  }
}