.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e3758;
  //background-color: #3e3758;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;

  &.active {
    background-color: #3e3758;
    color: black;
    transition: 0.1s all ease-in-out;

    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;
    }
  }

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;

    .logo {
      font-size: 34px;
      font-weight: bold;
      margin-right: 350px;
      gap: 30px;

      img {
        width: 90px;
        height: 100px;
        background-color: transparent;
      }

      span {
        margin: 10px;
      }

      .navbar-links {
        font-weight: 500;
        font-size: 18px;
        transition: 0.5s all ease-in-out;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }

    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      .navbar-links {
        font-weight: 500;
        font-size: 18px;
        transition: 0.5s all ease-in-out;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }


      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        transition: 1s all ease-out;
        &:hover {
          cursor: pointer;
        }

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          transition:all 150ms ease-in-out;
        }

        .options {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: start;
          top: 56px;
          right: -12px;
          padding: 20px;
          background-color: #7b7695;
          border-radius: 10px;
          border: none;
          gap: 10px;
          width: 1290px;
          font-weight: 300;
          color: white;
          position: absolute;
          cursor: auto;
          transition-delay: 1s;
          z-index: 999;

          &.active {
            animation-name: example;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            @keyframes example {
              0%   {background-color: #837284;}
              10%  {background-color: #6a526b;}
              20%  {background-color: #533f56;}
              35% {background-color: #302131;}
              65% {background-color: #302131;}
              80% {background-color: #533f56;}
              90% {background-color: #6a526b;}
              100% {background-color: #837284;}
            }
          }
        }

        .options-left {
          width: 760px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: left;
          align-items: center;
          gap: 30px;


          .opt-left-item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 165px;
            height: 108px;
            border-radius: 10px;
            background-color: #3e3758;
            transition: 0.3s all ease-out;
            &:hover {
              cursor: pointer;
              background-color: #4d4468;
              scale: 1.1;
            }
          }
        }

        .options-right {
          width: 500px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          color: #a3a2b3;
          border-left: 1px solid rgba(255,255,255,.16);

          .opt-r-img {
            display: flex;

            .img-name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-bottom: 10px;
            }

            img {
              width: 70px;
              height: 50px;
              object-fit: contain;
              margin: 15px;
              transition: 0.4s all ease-out;
              &:hover {
                cursor: pointer;
                scale: 1.3;
              }
            }

            .img-r {
              border-radius: 50%;
            }

            .img-u-r {
              width: 50px;
              height: 50px;
            }
          }


          .navbar-profile {
            font-size: 30px;
            font-weight: bolder;
          }


          .opt-right-item {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 240px;
            height: 20px;
            margin-bottom: 10px;
            font-size: 21px;
            font-weight: inherit;

            .navbar-profile-item {
              transition: 0.2s all ease-in-out;
              &:hover{
                color: white;
              }
            }

          }
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 1400px;

    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;

    .link.menuLink {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

  }
}