.carousel-initialized {
  //position: relative!important;
  overflow: visible!important;
}

.slide {
  display: flex;
  justify-content: center;

  padding: 0 -200px;

  .container {
    width: 1400px;
    position: relative;
  }

  //.carousel-initialized {
  //  position: static;
  //}

  //.carousel-initialized {
  //  //position: relative!important;
  //  overflow: hidden!important;
  //}

  .carousel-prev,
  .carousel-next {
    width: 50px;
    height: 50px;
    background-color: rgba(73, 83, 128, 0.75);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    &:focus{
      background-color: rgba(156, 161, 193, 0.75);
      opacity: 0.8;
      scale: 1.3;
    }
  }

  .carousel-prev {
    left: 7%;
  }

  .carousel-next {
    right: 4%;
  }
}