.film-page-headings {
  display: flex;
  flex-direction: row;
  justify-content: start;
  //width: 80%;
  height: 30%;
  margin: 35px 50px 15px 49px;
  //background-color: black;
  position: relative;

  .f-page-h-span {
    span {
      color: white;
      font-size: 36px;
      font-weight: bolder;
    }
  }
}