.home-films-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50%;
  margin-top: 10px;
  //padding: 10px;
  //margin: 10px;
  margin-left: 20px;
  //background-color: rgb(255, 255, 255);

  .h-f-carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;

    h2{
      color: white;
      margin-bottom: 25px;
    }
    .h-f-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 100%;
      text-align: center;
      //background-color: #1dbf73;

      .h-f-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 160px;
        margin-bottom: 20px;

        &:hover {
          .h-f-card-div{
            //z-index: 105;
          }
        }

        .h-f-card-div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: relative;

          &:hover {
            img {
              z-index: 1;
              opacity: 0.8;
            }
            span {
              z-index: 120;
              opacity: 1;
              color: white;
            }
          }

          img {
            margin-right: 20px;
            border-radius: 10px;
            text-align: center;
            width: 140px;
            height: 235px;
            object-fit: cover;
            margin-bottom: 0;
            transition: 0.2s all ease-in-out;
            z-index: 100;
            &:hover {
              transform: scale(1.03);
              //background-color: black;
              //opacity: 0.7;
              //transform: translate(-1.1rem, -1ex);
              cursor: pointer;
              //margin-bottom: 10px;
              //z-index: 0;
            }
          }


          .h-f-card-buttons{
            width: 15%;
            display: flex;
            flex-direction: column;
            //background-color: white;
            position: absolute;
            bottom: 55%;
            left: 70%;
            cursor: pointer;
            //z-index: 0;

            //&:hover {
            //  z-index: 110;
            //  background-color: black;
            //}
            span {
              //z-index: 110;
              margin-bottom: 5px;
            }
          }

          .h-f-card-ov-info {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            position: absolute;
            //background-color: #1dbf73;
            top: 50%;
            //bottom: 10px;
            left: 0;
            cursor: pointer;

            span {
              padding: 5px;
            }

            .h-f-card-rating {
              font-size: 30px;
            }

            .h-f-card-year-country {
              display: flex;
              flex-direction: row;

              .h-f-card-year {
                font-size: 16px;
                padding-right: 5px;
                padding-bottom: 10px;
                color: #cbd1dc;
              }
              .h-f-card-country {
                font-size: 16px;
                padding-right: 5px;
                padding-bottom: 10px;
                color: #cbd1dc;
              }
            }

            .h-f-card-duration{
              font-size: 16px;
              padding-right: 5px;
              padding-bottom: 10px;
              color: #cbd1dc;
            }
          }
        }

        //.h-f-img-active {
        //    background-color: white;
        //    overflow: hidden!important;
        //}


        .h-f-texts {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          width: 140px;
          &:hover {
            cursor: pointer;
          }
        }

        .h-f-title {
          color: white;
          font-size: larger;
          font-weight: bolder;
        }

        .h-f-price {
          color: white;
          font-weight: lighter;
          font-size: medium;
          letter-spacing: 0.7px;
        }
      }
    }
  }
}