.home-films-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50%;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;

  .h-f-c-logo-1 {
    position: absolute;
    height: 8%;
    background-color: #6c6590;
    border: 1px solid #6f4747;
    border-radius: 5px;
    bottom: 92%;
    left: 74%;
    z-index: 150;

    .h-f-c-logo-span {
      font-size: 13px;
      color: white;
      white-space: nowrap;
      padding: 5px 5px 5px 2px;
    }
  }

  .h-f-c-logo-2 {
    position: absolute;
    height: 8%;
    background-color: #6c6590;
    border: 1px solid #6f4747;
    border-radius: 5px;
    //right: 0;
    top: 30px;
    left: 74%;
    z-index: 150;

    .h-f-c-logo-span {
      font-size: 14px;
      color: white;
      white-space: nowrap;
      padding: 5px;
    }
  }

  .h-f-c-logo-3 {
    position: absolute;
    height: 8%;
    background-color: #6c6590;
    border: 1px solid #6f4747;
    border-radius: 5px;
    //right: 0;
    top: 58px;
    left: 74%;
    z-index: 150;

    .h-f-c-logo-span {
      font-size: 14px;
      color: white;
      white-space: nowrap;
      padding: 5px;
    }
  }

  .h-f-c-logo-4 {
    position: absolute;
    height: 8%;
    background-color: #6c6590;
    border: 1px solid #6f4747;
    border-radius: 5px;
    //right: 0;
    top: 87px;
    left: 74%;
    z-index: 250;

    .h-f-c-logo-span {
      font-size: 14px;
      color: white;
      white-space: nowrap;
      padding: 5px;
    }
  }

  .h-f-carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;

    h2{
      color: white;
      margin-bottom: 25px;
    }
    .h-f-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 100%;
      text-align: center;

      .h-f-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 160px;
        margin-bottom: 20px;


        .h-f-card-div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: relative;

          &:hover {
            img {
              z-index: 1;
              opacity: 0.8;
            }
            .h-f-card-button-logos {
              z-index: 120;
              opacity: 1;
              color: white;
            }

            span {
              z-index: 120;
              opacity: 1;
              color: white;
            }
          }

          img {
            margin-right: 20px;
            border-radius: 10px;
            text-align: center;
            width: 140px;
            height: 235px;
            object-fit: cover;
            margin-bottom: 0;
            transition: 0.2s all ease-in-out;
            z-index: 100;
            &:hover {
              transform: scale(1.03);
              cursor: pointer;
            }
          }

          .h-f-card-buttons{
            width: 14%;
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 38%;
            left: 68%;
            cursor: pointer;

            .h-f-card-buttons-container {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: flex-start;
              z-index: 10;

              .h-f-card-b-c-logo {
                display: flex;
                flex-direction: row;
                justify-content: start;
                width: 100%;
                //height: 25px;
                margin-bottom: 5px;
                color: white;
                //background-color: yellow;
              }
            }

            .h-f-card-button-logos {
              width: 100%;
              color: white;
              opacity: 1;
              margin-bottom: 8px;
            }

            span {
              margin-bottom: 5px;
            }
          }

          .h-f-card-ov-info {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            position: absolute;
            top: 50%;
            left: 0;
            cursor: pointer;

            span {
              padding: 5px;
            }

            .h-f-card-rating {
              font-size: 30px;
            }

            .h-f-card-year-country {
              display: flex;
              flex-direction: row;

              .h-f-card-year {
                font-size: 16px;
                padding-right: 5px;
                padding-bottom: 10px;
                color: #cbd1dc;
              }
              .h-f-card-country {
                font-size: 16px;
                padding-right: 5px;
                padding-bottom: 10px;
                color: #cbd1dc;
              }
            }

            .h-f-card-duration{
              font-size: 16px;
              padding-right: 5px;
              padding-bottom: 10px;
              color: #cbd1dc;
            }
          }
        }

        .h-f-texts {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          width: 140px;
          &:hover {
            cursor: pointer;
          }
        }

        .h-f-title {
          color: white;
          font-size: larger;
          font-weight: bolder;
        }

        .h-f-price {
          color: white;
          font-weight: lighter;
          font-size: medium;
          letter-spacing: 0.7px;
        }
      }
    }
  }
}