.footer {
  display: flex;
  justify-content: center;
  color: #3e3758;
  margin: 10% 0 0 0;

  img {
    width: 24px;
    height: 24px;
  }

  .container {
    width: 1400px;
    .top {
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 16px;
          color: white;
          //color: #555;
        }
        span {
          font-weight: 300;
          color: white;
        }
        .footer-titles{
          transition: 0.2s all ease-in-out;
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }

    hr {
      margin: 50px 0;
      height: 0;
      border: 1px solid #ebe9e9;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 13px;
          white-space: nowrap;
        }
      }
      .right {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 30px;

        .social {
          display: flex;
          gap: 20px;
        }

        .footer-net {
          transition: 0.2s all ease-in-out;
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }

        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}