:root {
  //background-color: #353145;
  //background-color: #100e19;
  background-color: #3e3758;
  overflow: hidden;
  overflow-y: scroll;
  font-family: iviSans,Arial,Helvetica,Helvetica Neue,FreeSans,sans-serif;
}

* {
  .link {
    text-decoration: none;
    color: inherit;
  }
}