:root {
  //background-color: #353145;
  //background-color: #100e19;
  background-color: #3e3758;
  overflow: hidden;
  overflow-y: scroll;
  font-family: iviSans,Arial,Helvetica,Helvetica Neue,FreeSans,sans-serif;
}

* {
  .link {
    text-decoration: none;
    color: inherit;

    span {
      transition: 0.3s all ease-in-out;

      &:hover {
        cursor: pointer;
        color: #38b2d1;
      }
    }
  }
}