:root {
  //background-color: #353145;
  //background-color: #100e19;
  background-color: #3e3758;
  overflow: hidden;
  overflow-y: scroll;
}

* {
  .link {
    text-decoration: none;
    color: inherit;
  }
}