.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  .container {
    width: 1400px;
    position: relative;
    z-index: 100;

  //.slick-arrow.slick-prev {
  //  background-image: url("https://www.amediateka.ru/static/images/player/left.svg") !important;
  //}
  //
  //.slick-arrow.slick-next {
  //  background-image: url("https://www.amediateka.ru/static/images/player/right.svg") !important;
  //}
  //  .slick-slider.slick-initialized {
  //    background-color: black;
  //  }

    .slick-next:before, .slick-prev:before{
      width: 35px;
      height: 50px;
    }
  }

  .main-slider-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 83.5%;
    margin-left: 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 150;
    .main-slider-arrow-div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50px;
      height: 50px;

      img {
        transition: 0.3s all ease-in-out;
        &:hover {
          cursor: pointer;
          scale: 1.2;
        }
      }
    }
  }
}