.actor-page-slider {
  display: flex;
  width: 100%;

  .actor-page-slider-container {
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden!important;
  }

  .actor-page-slider-arrow-div-left{
    text-align: start;
    width: 50px;
    height: 75px;
    top: 9%;
    left: 417px;
    position: absolute;
    z-index: 200;
    img {
      width: 100%;
      height: 100%;
      transition: 0.4s all ease-in-out;
      &:hover{
        scale: 1.2;
        cursor: pointer;
      }
    }
  }
  .actor-page-slider-arrow-div-right{
    width: 50px;
    height: 75px;
    text-align: center;
    top: 9%;
    right: 417px;
    position: absolute;
    z-index: 200;
    img {
      width: 100%;
      height: 100%;
      transition: 0.4s all ease-in-out;
      &:hover{
        scale: 1.2;
        cursor: pointer;
      }
    }
  }
}