.film-page {
  width: 100%;
  height:100%;

  .film-page-trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px 0 25px 0;

    video {
      width: 50%;
      height: 20%;
    }
  }

  .film-page-main-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    text-align: center;
    position: relative;
    //background-color: black;
    width: 100%;
    height: 665px;
    z-index: 1;

    .film-page-main-img-div {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 85;
      .film-p-main-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 510;
      }
    }

    &:hover {
      transition: 1s all ease-in-out;
    }

    //.film-p-main-pic {
    //  width: 100%;
    //  height: 100%;
    //  object-fit: cover;
    //  z-index: 1;
    //}
    //
    //video {
    //  width: 100%;
    //  height: 100%;
    //  object-fit: cover;
    //  //z-index: 510;
    //}

    .film-p-linear {
      position: absolute;
      width: 30%;
      height: 100%;
      background-image: linear-gradient(270deg, rgba(43, 47, 51, 0) 0, #000000 80%);
      z-index: 90;
    }

    .film-p-linear-top {
      position: absolute;
      width: 100%;
      height: 15%;
      background-image: linear-gradient(360deg, rgba(43, 47, 51, 0) 0, #000000 80%);
      z-index: 90;
    }

    .film-p-linear-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15%;
      background-image: linear-gradient(180deg, rgba(43, 47, 51, 0) 0, #000000 80%);
      z-index: 90;
    }

    .film-p-linear-bottom-connect {
      position: absolute;
      bottom: -60px;
      width: 100%;
      height: 10%;
      background-image: linear-gradient(360deg, rgba(43, 47, 51, 0) 0, #3e3758, #000000 90%);
      z-index: 90;
    }

    .film-p-pic-info {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      width: 50%;
      height: 70%;
      margin: 10% 0 0 3%;
      //background-image: linear-gradient(270deg, rgba(43, 47, 51, 0) 0,#000 80%);
      //background-color: white;
      position: absolute;
      z-index: 100;

      .film-p-main-pic-title {
        //width: 100%;
        height: 25%;
        margin: 5px;
        object-fit: contain;
      }

      .film-p-pic-exact-info {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: bolder;
        width: 100%;
        //text-align: center;
        //background-color: red;

        .film-p-pic-rating {
          width: 5%;
          height: 70%;
          margin: 5px;
          border-radius: 5px;
          border: none;
          font-size: 15px;
          font-weight: bolder;
          background-color: #1dbf73;
          color: white;
        }

        .film-p-pic-year {
          width: 5%;
          height: 70%;
          margin: 5px;
          //background-color: blue;
        }

        .film-p-pic-type {
          text-align: start;
          width: 12%;
          height: 70%;
          margin: 5px;
          //background-color: #6a526b;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .film-p-pic-duration {
          width: 8%;
          height: 70%;
          //background-color: white;
          margin: 5px;
        }

        .film-p-pic-lang {
          width: 2%;
          height: 70%;
          text-align: start;
          //background-color: white;
          margin: 5px;
        }

        .film-p-pic-limit {
          width: 5%;
          height: 70%;
          text-align: center;
          //background-color: white;
          margin: 5px;
        }
      }
    }
    .film-p-pic-desc {
      display: flex;
      justify-content: start;
      align-items: start;
      text-align: start;
      color: white;
      width: 75%;
      max-height: 50%;
      //background-color: #908237;
      text-overflow: ellipsis;

      span {
        margin: 5px;
      }
    }

    .film-p-pic-director {
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      //background-color: #38b2d1;

      .film-p-pic-d {
        color: #4d4468;
        margin: 5px;
      }

      .film-p-pic-d-name {
        color: white;
        margin: 5px;
      }
    }

    .film-p-pic-actors-crew {
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
      //background-color: #38b2d1;

      .film-p-pic-a {
        color: #4d4468;
        margin: 5px;
      }

      .film-p-pic-a-names {
        color: #c0b3b3;
        margin: 5px;
        transition: 0.5s all ease-in-out;

        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }

    .film-p-pic-advert {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      text-align: start;
      flex-direction: column;
      //background-color: black;
      //margin-bottom: 20px;

      .film-p-pic-advert-main {
        font-size: 24px;
        margin: 5px;
        color: greenyellow;
      }
      .film-p-pic-ad {
        margin-left: 7px;
        color: white;
        //background-color: black;
      }
    }

    .film-p-pic-buttons {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: start;
      align-items: center;
      text-align: start;
      flex-direction: row;
      //background-color: #150101;

      .film-p-pic-button-purchase {
        margin: 5px;
        border-radius: 10px;
        width: 30%;
        height: 50%;

        &:hover {
          cursor: pointer;
        }
      }

      .film-p-pic-button-trailer {
        margin: 5px;
        border-radius: 10px;
        width: 15%;
        height: 40%;
      }

      .film-p-pic-button-icon {
        margin: 5px;
        //background-color: red;
        width: 7%;
        height: 30%;
        border-radius: 10px;
        object-fit: contain;
      }
    }
  }

  .film-page-choose-sect {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;

    .film-page-choose-left {
      color: white;
      font-size: 24px;
      margin: 50px 50px 5px 50px;
      z-index: 120;
    }
  }

  .film-page-desc-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 50px 5px 50px;
    //background-color: white;

    .film-p-desc-sect-left {
      display: flex;
      flex-direction: column;
      width: 50%;
      border: 1px solid white;
      border-radius: 10px;
      padding: 10px;
      //background-color: #8b2424;

      .film-p-desc-sect-left-up {
        font-size: 20px;
        line-height: 30px;
        color: #5b6b99;
        white-space: normal;
        word-wrap: break-word;
      }

      .film-p-desc-sect-left-down {
        display: flex;
        flex-direction: column;
        //background-color: #a27b7b;

        .film-p-desc-sect-left-down-close-span {
          //background-color: #1dbf73;
          display: inline;
          width: 150px;
          color: #8776f9;
          white-space: nowrap;
          transition: 0.4s all ease-in-out;
          font-size: 18px;

          &:hover {
            color: white;
            cursor: pointer;
          }
        }

        .film-p-desc-sect-left-down-main-span {
          color: white;
          font-size: 24px;
          font-weight: bolder;
          margin: 20px 0 10px 0;
        }

        .film-p-desc-sect-left-down-open {
          //background-color: #1dbf73;
          display: inline;
          width: 160px;
          color: #8776f9;
          white-space: nowrap;

          .film-p-desc-sect-left-down-open-span {
            font-size: 18px;
            transition: 0.4s all ease-in-out;

            &:hover {
              color: white;
              cursor: pointer;
            }
          }

          &.active {
            width: 100%;

            .film-p-desc-sect-left-down-open-exact-info {
              display: flex;
              flex-direction: column;
              //background-color: #2a312e;
              white-space: break-spaces;

              .film-p-desc-sect-left-down-open-exact-info-span {
                font-size: 18px;
                line-height: 30px;
                color: #5b6b99;
              }
            }
          }
        }
      }
    }

    .film-p-desc-sect-right {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      text-align: center;
      width: 50%;
      //background-color: #4d4468;

      .film-p-desc-sect-right-div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        width: 60%;
        border: 1px solid white;

        .film-p-desc-sect-right-div-span {
          font-size: 24px;
          font-weight: bolder;
          margin: 5px;
          color: white;
        }

        .film-p-desc-sect-right-div-sp {
          font-size: 15px;
          margin: 5px;
          color: white;
        }

        .box-test {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .av-test {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;

            .box-test-button {
              margin: 10px;
            }
          }
        }
      }
    }
  }

  hr {
    margin: 40px 0 60px 0;
  }

  .film-page-foot-info {
    display: flex;
    flex-direction: row;
    color: white;

    .film-page-foot-info-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .film-page-foot-info-div {
        display: flex;
        flex-direction: column;
        width: 33%;
        margin-left: 50px;

        .f-p-foot-title {
          font-size: 25px;
          font-weight: bolder;
        }

        .f-p-foot-span {
          color: rgba(255,255,255,.56)
        }
      }

      .film-page-foot-crew-div {
        display: flex;
        flex-direction: column;
        width: 33%;

        span {
          width: 80%;
          word-wrap: break-word;
          white-space: break-spaces;
        }

        .f-p-foot-title {
          font-size: 25px;
          font-weight: bolder;
        }

        .f-p-foot-span {
          color: rgba(255,255,255,.56)
        }
      }

      .film-page-foot-sound {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: safe;
        text-align: start;
        width: 33%;
        //margin-left: 50px;

        .f-p-foot-title {
          font-size: 25px;
          font-weight: bolder;
        }

        .f-p-foot-span {
          color: rgba(255,255,255,.56)
        }
      }
    }
  }
}